.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-top: 25px;
  margin: 0px 25px 25px 25px;
}

.nav-item {
  padding: 10px 10px 10px 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #2DC2BD;
  transition: all 0.25s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #307473;
    transition: all 0.25s ease-in-out;
  }
}