$primary-color: #13005aff;
$secondary-color: #333333ff;
$accent-color: #1c82adff;
$success-color: #03c988ff;
$background-color: #1d1f21ff;
$text-color: #f5f5f5ff;
$danger-color: #e76161;

/* Common Color Scheme */
$emerald: #03c988;
$yale-blue: #00337c;
$cerulean: #1c82ad;
$dark-slate-gray: #333333;
$thisle: #bfb1c1;
$deep-ocean: #216fdb;
$very-dark-blue: #13005a;

/* Dark Color Scheme */
$bg-dark-1: #071108;
$bg-dark-2: #0d1a1f;

/* Light Color Scheme */
$bg-light-1: #f5f5f5;
$bg-light-2: #ebebeb;
