.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.editor-toolbar button {
  font-family: "ProximaNova", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(33, 111, 219);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(33, 111, 219);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-toolbar button:hover {
  background-color: rgb(33, 111, 219);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
