@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

$heading-font: "Orbitron", sans-serif;
$body-font: "Titillium Web", sans-serif;
$button-font: "Exo", sans-serif;
$quote-font: "Alegreya Sans", sans-serif;
$nav-font: "Nunito", sans-serif;
